/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 2rem;
    width: 100%; /* Full width, without using 100vw */
    max-width: 900px; /* Limit the max width */
    margin: 0 auto; /* Center the content */
}

/* About Section */
.about-section {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-weight: bold;
}

.about-section h3 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.about-section p {
    font-size: 1.2rem;
    color: var(--black);
    line-height: 1.8;
    margin-top: 1rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Description Section */
.description-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.description-section h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-top: 2rem;
}

.description-section h3 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-top: 1rem;
}

.description-section p {
    font-size: 1.2rem;
    color: var(--black);
    line-height: 1.6;
    margin-top: 0.5rem;
}

/* Service List */
.description-section li {
    list-style-type: none;
    font-size: 1.2rem;
    background: var(--accent-color);
    padding: 0.5rem;
    margin: 0.5rem auto;
    width: 50%;
    border-radius: 8px;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .main-content {
        padding: 2rem 1rem;
    }

    .about-section h2 {
        font-size: 2rem;
    }

    .about-section h3 {
        font-size: 1.5rem;
    }

    .about-section p {
        font-size: 1rem;
    }

    .description-section h2 {
        font-size: 1.8rem;
    }

    .description-section h3 {
        font-size: 1.3rem;
    }

    .description-section p {
        font-size: 1.1rem;
    }

    .description-section li {
        width: 80%;
    }
}
