/* Dashboard Styles */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #dfcef2;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh; /* Ensure sidebar takes full height */
    overflow-y: auto; /* Add overflow-y auto to handle vertical overflow only */
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  
  .logo-section {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .logo {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .brand-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #6f14d1;
  }
  
  .nav-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 500vh;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu button {
    width: 100%;
    padding: 1.75rem;
    margin-bottom: 40rem;
    background-color: #6f14d1;
    border: none;
    color: white; /* Changed text color to white */
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  .nav-menu button:hover {
    background-color: #5848c2;
  }
  
  .logout-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #6f14d1;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #9352d8;
  }
  
  /* Main Content */
  .main-content {
    flex-grow: 1;
    padding: 2rem;
    align-self: start;
  }
  
  .section-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .dashboard-container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: auto; /* Adjust height for mobile view */
    }
  
    .nav-menu {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  
    .main-content {
      padding: 1rem;
    }
  }