/* Reset and Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #5848c2;
    --secondary-color: #6f14d1;
    --accent-color: white;
    --black: #000000;
    --white: #ffffff;
    --lavender: #E6E6FA; /* Lavender color for buttons */
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--accent-color);
    color: var(--black);
    overflow-x: hidden;
}

/* Container */
.homepage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--white);
    text-align: center;
}

/* Main Content */
.main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    background: linear-gradient(to bottom right , white 50%,#5848c2 20%, #5848C2 100px,);
    text-align: initial;
    flex-wrap: wrap;
}

/* Main Heading */
.main-heading {
    width:100vw;
    font-size: 36px;
    color: black;
    margin-bottom: 2rem;
    line-height: 1.4;
    margin-top: -350px;
}

/* Description Section */
.description-section {
    max-width: 800px;
    text-align: left;
    flex: 1;
}

/* Button Container */
.button-container {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    margin-left: 3rem;
}

/* Buttons */
button {
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 0.75rem 1.5rem;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--white);
}

.button1{
    background-color: #7E68BF;
}

.button2{
    background-color: #D26363 ;
}

.para1{
    margin-top: 10rem;
    font-size: medium;
    max-width: 450px;
}
.img-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 800px;
    margin-top: -50px;
}

.img-section img {
    position: relative;
    max-width: 100%;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 10px black;
}

.img-section img:hover {
    transform: scale(1.2) ;
}

.mobile1{
    position: relative;
    box-shadow: #000000;
}

.mobile2{
    margin-top: -50px;
    margin-right: 100px;
    margin-left: -40px;
    
    position: absolute; 
}

/* Footer */
.footer {
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    margin-top: auto;
}
