/* Footer Styling */
.footer {
    background-color: #5848C2;
    color: white;
    padding: 5px 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

/* Footer Content */
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 120px;
}

.footerLogo {
    width: 60px;
    height: 50px;
    margin: 0 auto;
    border-radius: 20px;
}

.footer-para{
    margin-top: 20px;
    
}

.contact{
    margin: 15px;
    gap: 10px;
}
/* Footer Sections */
.footer-section {
    margin: 0.25rem;
    flex: 1;
    min-width: 220px;
    padding: 0.25rem 0; 
    text-align: center;
}

.footer-section-link2{
    list-style-type:none;
    margin: 0.25rem;
    flex: 1;
    min-width: 220px;
    padding: 0.25rem 0; 
    text-align: center;
}

.footer-section-link3{
    list-style-type:none;
    margin: 0.25rem;
    flex: 1;
    min-width: 220px;
    padding: 0.5rem 0; 
    text-align: center;
}

/* Quick Links */
.footer-section h2 {
    font-size: 20px; 
    color: white;
}

.footer-section ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-section ul li {
    margin-bottom: 4px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.85rem; 
}

.footer-section ul li a:hover {
    color: #f39c12;
}

/* Social Media Icons */
.social-icons {
    display: flex;
    gap: 30px; 
    margin-top: 32px;
    margin-left: 120px;
    padding: 10px;
}

.social-icon {
    font-size: 1.2rem;
    color: white;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #f39c12;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    padding-top: 10px; 
    background-color: #222;
    width: 100vw;
    font-size: 0.85rem; 
}

.footer-section social-icons {
    display: flex;
    justify-content: last baseline;
    gap: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
     }

    .social-icons {
        gap: 6px;
    }
}
